<!DOCTYPE html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <script>
        L_NO_TOUCH = false;
        L_DISABLE_3D = false;
    </script>

    <style>
        html,
        body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
    <style>
        #map {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css" />

    <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <style>
        #map_bcc8205e609126451ce558ad46da2071 {
            position: relative;
            width: 100.0%;
            height: 100.0%;
            left: 0.0%;
            top: 0.0%;
        }
    </style>

</head>

<body>

    <div class="folium-map" id="map_bcc8205e609126451ce558ad46da2071"></div>

</body>
<script>

    var map_bcc8205e609126451ce558ad46da2071 = L.map(
        "map_bcc8205e609126451ce558ad46da2071",
        {
            center: [37.099931960000006, 127.34821139999998],
            crs: L.CRS.EPSG3857,
            zoom: 10,
            zoomControl: true,
            preferCanvas: false,
        }
    );





    var tile_layer_cea9be979a326fd66344173c0f176ab9 = L.tileLayer(
        "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
        { "attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false }
    ).addTo(map_bcc8205e609126451ce558ad46da2071);


    var marker_912dad9dc13e582aa8eac30ce5202392 = L.marker(
        [37.493922, 127.061026],
        {}
    ).addTo(map_bcc8205e609126451ce558ad46da2071);


    marker_912dad9dc13e582aa8eac30ce5202392.bindTooltip(
        `<div>
                     음식
                 </div>`,
        { "sticky": true }
    );


    var marker_fa3f9baca786b5b91d7482c8eea3c66e = L.marker(
        [37.505675, 127.047883],
        {}
    ).addTo(map_bcc8205e609126451ce558ad46da2071);


    marker_fa3f9baca786b5b91d7482c8eea3c66e.bindTooltip(
        `<div>
                     음식
                 </div>`,
        { "sticky": true }
    );


    var marker_dcba933147528a93f89c632c047c85f3 = L.marker(
        [37.471711, 127.89922],
        {}
    ).addTo(map_bcc8205e609126451ce558ad46da2071);


    marker_dcba933147528a93f89c632c047c85f3.bindTooltip(
        `<div>
                     음식
                 </div>`,
        { "sticky": true }
    );


    var marker_29939c49c04a5499727592330b50589f = L.marker(
        [35.159774, 128.980455],
        {}
    ).addTo(map_bcc8205e609126451ce558ad46da2071);


    marker_29939c49c04a5499727592330b50589f.bindTooltip(
        `<div>
                     음식
                 </div>`,
        { "sticky": true }
    );


    var marker_becc153af56efd29cd1c2202d5ae6932 = L.marker(
        [37.500249, 127.104071],
        {}
    ).addTo(map_bcc8205e609126451ce558ad46da2071);


    marker_becc153af56efd29cd1c2202d5ae6932.bindTooltip(
        `<div>
                     생활서비스
                 </div>`,
        { "sticky": true }
    );


    var marker_5fe44dd73bdd79abc5d5f398d73bf13e = L.marker(
        [37.515149, 127.10249],
        {}
    ).addTo(map_bcc8205e609126451ce558ad46da2071);


    marker_5fe44dd73bdd79abc5d5f398d73bf13e.bindTooltip(
        `<div>
                     음식
                 </div>`,
        { "sticky": true }
    );


    var marker_df1c185e5d8f7d5a4253da43e1bc6fa2 = L.marker(
        [37.549245, 127.088387],
        {}
    ).addTo(map_bcc8205e609126451ce558ad46da2071);


    marker_df1c185e5d8f7d5a4253da43e1bc6fa2.bindTooltip(
        `<div>
                     음식
                 </div>`,
        { "sticky": true }
    );


    var marker_c434235a7ced4dd284b37c121c207c96 = L.marker(
        [37.562013, 126.809957],
        {}
    ).addTo(map_bcc8205e609126451ce558ad46da2071);


    marker_c434235a7ced4dd284b37c121c207c96.bindTooltip(
        `<div>
                     음식
                 </div>`,
        { "sticky": true }
    );


    var marker_174f7eecde9ef3935cc99795bc224f27 = L.marker(
        [37.552153, 127.010861],
        {}
    ).addTo(map_bcc8205e609126451ce558ad46da2071);


    marker_174f7eecde9ef3935cc99795bc224f27.bindTooltip(
        `<div>
                     음식
                 </div>`,
        { "sticky": true }
    );


    var marker_9f4930df16ff59d5e6fd720afa1bfd5f = L.marker(
        [37.538927, 126.836078],
        {}
    ).addTo(map_bcc8205e609126451ce558ad46da2071);


    marker_9f4930df16ff59d5e6fd720afa1bfd5f.bindTooltip(
        `<div>
                     음식
                 </div>`,
        { "sticky": true }
    );


    var marker_5c430b83cb3eaa0873d71649f93b895e = L.marker(
        [37.492388, 127.014217],
        {}
    ).addTo(map_bcc8205e609126451ce558ad46da2071);


    marker_5c430b83cb3eaa0873d71649f93b895e.bindTooltip(
        `<div>
                     음식
                 </div>`,
        { "sticky": true }
    );


    var marker_600de9e836fec56ae629eda3fa47af8c = L.marker(
        [37.48039, 126.886859],
        {}
    ).addTo(map_bcc8205e609126451ce558ad46da2071);


    marker_600de9e836fec56ae629eda3fa47af8c.bindTooltip(
        `<div>
                     음식
                 </div>`,
        { "sticky": true }
    );


    var marker_e654ed56648e0ec080c11b6327a37ce1 = L.marker(
        [37.588485, 127.031702],
        {}
    ).addTo(map_bcc8205e609126451ce558ad46da2071);


    marker_e654ed56648e0ec080c11b6327a37ce1.bindTooltip(
        `<div>
                     음식
                 </div>`,
        { "sticky": true }
    );


    var marker_e473bef751cd06a2d86ee3fc7d653088 = L.marker(
        [37.504067, 126.880898],
        {}
    ).addTo(map_bcc8205e609126451ce558ad46da2071);


    marker_e473bef751cd06a2d86ee3fc7d653088.bindTooltip(
        `<div>
                     음식
                 </div>`,
        { "sticky": true }
    );


    var marker_8f9bf1d74963cd3bc47066d7a7326530 = L.marker(
        [37.608392, 127.028726],
        {}
    ).addTo(map_bcc8205e609126451ce558ad46da2071);


    marker_8f9bf1d74963cd3bc47066d7a7326530.bindTooltip(
        `<div>
                     음식
                 </div>`,
        { "sticky": true }
    );


    var marker_9250e6e2e20fc17c3a6ed2c0672b7687 = L.marker(
        [37.503693, 126.89771],
        {}
    ).addTo(map_bcc8205e609126451ce558ad46da2071);


    marker_9250e6e2e20fc17c3a6ed2c0672b7687.bindTooltip(
        `<div>
                     음식
                 </div>`,
        { "sticky": true }
    );


    var marker_0fc74f2e4e8a6b71171438df5f14438c = L.marker(
        [37.579029, 126.910288],
        {}
    ).addTo(map_bcc8205e609126451ce558ad46da2071);


    marker_0fc74f2e4e8a6b71171438df5f14438c.bindTooltip(
        `<div>
                     음식
                 </div>`,
        { "sticky": true }
    );


    var marker_6359d48f14ac6be3a8b40681147fc28a = L.marker(
        [37.580073, 127.043189],
        {}
    ).addTo(map_bcc8205e609126451ce558ad46da2071);


    marker_6359d48f14ac6be3a8b40681147fc28a.bindTooltip(
        `<div>
                     소매
                 </div>`,
        { "sticky": true }
    );


    var marker_1d5e9d967d1925ed7853b2448488bcec = L.marker(
        [37.552103, 127.071184],
        {}
    ).addTo(map_bcc8205e609126451ce558ad46da2071);


    marker_1d5e9d967d1925ed7853b2448488bcec.bindTooltip(
        `<div>
                     음식
                 </div>`,
        { "sticky": true }
    );


    var marker_46cd9a49e9c94ac37ad20b1221a3e8c6 = L.marker(
        [37.545461, 127.076812],
        {}
    ).addTo(map_bcc8205e609126451ce558ad46da2071);


    marker_46cd9a49e9c94ac37ad20b1221a3e8c6.bindTooltip(
        `<div>
                     음식
                 </div>`,
        { "sticky": true }
    );


    var marker_455b3c5455695148a854ec9fbd131f76 = L.marker(
        [37.580196, 127.045022],
        {}
    ).addTo(map_bcc8205e609126451ce558ad46da2071);


    marker_455b3c5455695148a854ec9fbd131f76.bindTooltip(
        `<div>
                     음식
                 </div>`,
        { "sticky": true }
    );


    var marker_30eb1f862b7242fd9630c6988bd110c1 = L.marker(
        [37.562274, 126.982419],
        {}
    ).addTo(map_bcc8205e609126451ce558ad46da2071);


    marker_30eb1f862b7242fd9630c6988bd110c1.bindTooltip(
        `<div>
                     음식
                 </div>`,
        { "sticky": true }
    );


    var marker_5a6dc74f626a30666e87d7886775aa02 = L.marker(
        [37.535419, 126.840285],
        {}
    ).addTo(map_bcc8205e609126451ce558ad46da2071);


    marker_5a6dc74f626a30666e87d7886775aa02.bindTooltip(
        `<div>
                     소매
                 </div>`,
        { "sticky": true }
    );


    var marker_3cca12cc6dab8e19224106b555578f7a = L.marker(
        [37.527477, 127.115873],
        {}
    ).addTo(map_bcc8205e609126451ce558ad46da2071);


    marker_3cca12cc6dab8e19224106b555578f7a.bindTooltip(
        `<div>
                     음식
                 </div>`,
        { "sticky": true }
    );


    var marker_8f7be0b558fa5882e15d041bd99cb7ff = L.marker(
        [37.526139, 126.88532],
        {}
    ).addTo(map_bcc8205e609126451ce558ad46da2071);


    marker_8f7be0b558fa5882e15d041bd99cb7ff.bindTooltip(
        `<div>
                     소매
                 </div>`,
        { "sticky": true }
    );


    var marker_959402ed2fa1d1e750578e5b9aba6021 = L.marker(
        [37.648247, 127.078464],
        {}
    ).addTo(map_bcc8205e609126451ce558ad46da2071);


    marker_959402ed2fa1d1e750578e5b9aba6021.bindTooltip(
        `<div>
                     음식
                 </div>`,
        { "sticky": true }
    );


    var marker_82528a7ca5006b31e9c2e392ff1d2560 = L.marker(
        [37.512939, 127.0571],
        {}
    ).addTo(map_bcc8205e609126451ce558ad46da2071);


    marker_82528a7ca5006b31e9c2e392ff1d2560.bindTooltip(
        `<div>
                     음식
                 </div>`,
        { "sticky": true }
    );


    var marker_f3878761e5367ee22565eed9253a9245 = L.marker(
        [37.517574, 127.020945],
        {}
    ).addTo(map_bcc8205e609126451ce558ad46da2071);


    marker_f3878761e5367ee22565eed9253a9245.bindTooltip(
        `<div>
                     음식
                 </div>`,
        { "sticky": true }
    );


    var marker_82292da5fbf4e3d1aadd719d8e8237d4 = L.marker(
        [35.202902, 129.068324],
        {}
    ).addTo(map_bcc8205e609126451ce558ad46da2071);


    marker_82292da5fbf4e3d1aadd719d8e8237d4.bindTooltip(
        `<div>
                     음식
                 </div>`,
        { "sticky": true }
    );


    var marker_793906928fe464b366d418d0eb04dd53 = L.marker(
        [35.144776, 129.059574],
        {}
    ).addTo(map_bcc8205e609126451ce558ad46da2071);


    marker_793906928fe464b366d418d0eb04dd53.bindTooltip(
        `<div>
                     음식
                 </div>`,
        { "sticky": true }
    );


    var marker_d5e8005472544fd72e5a73833086ba91 = L.marker(
        [37.499229, 126.927655],
        {}
    ).addTo(map_bcc8205e609126451ce558ad46da2071);


    marker_d5e8005472544fd72e5a73833086ba91.bindTooltip(
        `<div>
                     음식
                 </div>`,
        { "sticky": true }
    );


    var marker_b2742ceb3c5e7f8fc5a9c255dc82252a = L.marker(
        [35.150069, 127.034302],
        {}
    ).addTo(map_bcc8205e609126451ce558ad46da2071);


    marker_b2742ceb3c5e7f8fc5a9c255dc82252a.bindTooltip(
        `<div>
                     음식
                 </div>`,
        { "sticky": true }
    );


    var marker_f76a6df32a9231c0b530ab3e3b186155 = L.marker(
        [35.141176, 129.10633],
        {}
    ).addTo(map_bcc8205e609126451ce558ad46da2071);


    marker_f76a6df32a9231c0b530ab3e3b186155.bindTooltip(
        `<div>
                     음식
                 </div>`,
        { "sticky": true }
    );


    var marker_3b9fab5ea4424db804b67cde11482599 = L.marker(
        [37.479403, 126.980242],
        {}
    ).addTo(map_bcc8205e609126451ce558ad46da2071);


    marker_3b9fab5ea4424db804b67cde11482599.bindTooltip(
        `<div>
                     음식
                 </div>`,
        { "sticky": true }
    );


    var marker_0e9dfe55490e3bf59b7ff1e94dcc99d5 = L.marker(
        [37.512569, 126.945099],
        {}
    ).addTo(map_bcc8205e609126451ce558ad46da2071);


    marker_0e9dfe55490e3bf59b7ff1e94dcc99d5.bindTooltip(
        `<div>
                     음식
                 </div>`,
        { "sticky": true }
    );


    var marker_b60639e4474c2e9d07d0f7ea2fe2259e = L.marker(
        [35.123196, 129.034599],
        {}
    ).addTo(map_bcc8205e609126451ce558ad46da2071);


    marker_b60639e4474c2e9d07d0f7ea2fe2259e.bindTooltip(
        `<div>
                     소매
                 </div>`,
        { "sticky": true }
    );


    var marker_b902ecd2601442b78ba7121520241a1e = L.marker(
        [37.546718, 127.054649],
        {}
    ).addTo(map_bcc8205e609126451ce558ad46da2071);


    marker_b902ecd2601442b78ba7121520241a1e.bindTooltip(
        `<div>
                     음식
                 </div>`,
        { "sticky": true }
    );


    var marker_fc90b1b920a815c5ae1f4b65d73977e3 = L.marker(
        [37.553668, 127.019556],
        {}
    ).addTo(map_bcc8205e609126451ce558ad46da2071);


    marker_fc90b1b920a815c5ae1f4b65d73977e3.bindTooltip(
        `<div>
                     음식
                 </div>`,
        { "sticky": true }
    );


    var marker_7eac0674da5eadce7988d613d4f25d3c = L.marker(
        [37.488742, 127.053198],
        {}
    ).addTo(map_bcc8205e609126451ce558ad46da2071);


    marker_7eac0674da5eadce7988d613d4f25d3c.bindTooltip(
        `<div>
                     의료
                 </div>`,
        { "sticky": true }
    );


    var marker_bdc61d21fa57fce8f876709c5bf37f5d = L.marker(
        [37.493653, 127.031005],
        {}
    ).addTo(map_bcc8205e609126451ce558ad46da2071);


    marker_bdc61d21fa57fce8f876709c5bf37f5d.bindTooltip(
        `<div>
                     음식
                 </div>`,
        { "sticky": true }
    );


    var marker_9ab000b0fdc6321699400edc73a87e0f = L.marker(
        [37.498462, 127.05856],
        {}
    ).addTo(map_bcc8205e609126451ce558ad46da2071);


    marker_9ab000b0fdc6321699400edc73a87e0f.bindTooltip(
        `<div>
                     음식
                 </div>`,
        { "sticky": true }
    );


    var marker_277a3455a3f92782813285a5ae54e888 = L.marker(
        [37.556602, 127.078519],
        {}
    ).addTo(map_bcc8205e609126451ce558ad46da2071);


    marker_277a3455a3f92782813285a5ae54e888.bindTooltip(
        `<div>
                     음식
                 </div>`,
        { "sticky": true }
    );


    var marker_c7012d60ea3a47d1a68add50598a7e91 = L.marker(
        [37.54418, 127.056141],
        {}
    ).addTo(map_bcc8205e609126451ce558ad46da2071);


    marker_c7012d60ea3a47d1a68add50598a7e91.bindTooltip(
        `<div>
                     소매
                 </div>`,
        { "sticky": true }
    );


    var marker_64e09f2273991a37ed6765c315a59eac = L.marker(
        [35.111532, 129.034605],
        {}
    ).addTo(map_bcc8205e609126451ce558ad46da2071);


    marker_64e09f2273991a37ed6765c315a59eac.bindTooltip(
        `<div>
                     음식
                 </div>`,
        { "sticky": true }
    );


    var marker_f04aebfc6328c1b8a3b9647c4ab7602d = L.marker(
        [37.508058, 126.888485],
        {}
    ).addTo(map_bcc8205e609126451ce558ad46da2071);


    marker_f04aebfc6328c1b8a3b9647c4ab7602d.bindTooltip(
        `<div>
                     음식
                 </div>`,
        { "sticky": true }
    );


    var marker_b0d59e6360ddb3e12d74881187b54081 = L.marker(
        [35.085777, 129.070117],
        {}
    ).addTo(map_bcc8205e609126451ce558ad46da2071);


    marker_b0d59e6360ddb3e12d74881187b54081.bindTooltip(
        `<div>
                     음식
                 </div>`,
        { "sticky": true }
    );


    var marker_258588214e2a56fb3af7fa190eabe179 = L.marker(
        [37.546103, 127.057746],
        {}
    ).addTo(map_bcc8205e609126451ce558ad46da2071);


    marker_258588214e2a56fb3af7fa190eabe179.bindTooltip(
        `<div>
                     음식
                 </div>`,
        { "sticky": true }
    );


    var marker_6f328f365d615f71524621f16c286abf = L.marker(
        [37.483899, 126.929288],
        {}
    ).addTo(map_bcc8205e609126451ce558ad46da2071);


    marker_6f328f365d615f71524621f16c286abf.bindTooltip(
        `<div>
                     음식
                 </div>`,
        { "sticky": true }
    );


    var marker_89997db646a529d04884c0c495360c27 = L.marker(
        [37.489299, 127.054163],
        {}
    ).addTo(map_bcc8205e609126451ce558ad46da2071);


    marker_89997db646a529d04884c0c495360c27.bindTooltip(
        `<div>
                     음식
                 </div>`,
        { "sticky": true }
    );


    var marker_d009b132d871447a05eb27ce0609b644 = L.marker(
        [35.143421, 129.060972],
        {}
    ).addTo(map_bcc8205e609126451ce558ad46da2071);


    marker_d009b132d871447a05eb27ce0609b644.bindTooltip(
        `<div>
                     음식
                 </div>`,
        { "sticky": true }
    );

</script>