{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <table class="table table-hover" style="text-align: center;">
        <thead>
            <tr>
                <th>순위</th>
                <th>곡명</th>
                <th>가수</th>
                <th>앨범</th>
            </tr>
        </thead>
        <tbody>
            <!-- for문 시작(django) -->
            {% for board in melonList %}
            <tr>
                {% for j in board %}
                <th>{{j}}</th>
                {% endfor %}
            </tr>
            <!-- for문 끝(django) -->
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}